:root {
  font-family: Open-Sans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  image-rendering: pixelated;
}

html {
  height: 100%;
}

body {
  background-color: rgb(148, 232, 244);
  height: 100%;
  margin: 0;
  color: rgb(20,30,100);
}