/* Vertical screens */
@media screen and (min-width: 15em)  {
    #root {
        margin: 0 auto;
        padding: 2rem;
    }

    header {
        margin: auto;
        padding: 20px 50px 0 50px;
    }

    .front-name {
        font-size: 3rem;
        color: rgb(20,30,100);
        border-bottom: 10px solid rgb(200, 245, 144);
    }

    .colored-logo {
        color: rgb(44, 150, 30);
        vertical-align: sub;
    }

    .sidebar {
        margin: 0px auto;
        padding: 0px 50px;
        list-style: none;
    }

    .topbar {
        top: 0;
        position: sticky;
        background-color: rgb(255, 220, 80);
        text-align: center;
        border-bottom: 10px solid white;
        margin: 20px 0 0 0;
        padding: 10px;
    }

    .log {
        padding: 0px 50px 50px 0px;
        max-width: 47rem;
    }
    
    .container {
        background-color: white;
        max-width: 60em;
        margin: auto;
        font-size: 15px;
        top: 0;
    }
    
    footer {
        text-align: center;
        border-top: 10px solid white;
        /* background-color: rgb(255, 190, 20); */
        background-color: rgb(255, 220, 80);
        padding: 20px 50px;
    }
    
    .content {
        margin: auto 10px;
        padding: 20px;
        background-color:rgb(255,252,178);
    }
    
    .row {
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 10px;
    }
    
    .column {
        display: flex;
        flex-direction:column;
        align-content: center;
    }
    
    .hori-spacer {
        display: inline-block;
        padding-left: 10px;
        text-align:'center';

        list-style: none;
    }

    .left-hori-spacer {
        display: inline-block;
        padding-right: 3px;
    }
    
    .centered-project-box {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .log-summary {
        padding: 10px 0 0 0;
    }
}

/* Horizontal screens */
@media screen and (min-width: 50em) {
    .front-name {
        font-size: 5rem;
    }

    .hori-spacer {
        padding-right: 30px;
    }

    .content {
        margin: auto 50px;
        padding: 20px 50px 20px 50px;
    }

    .log {
        padding: 0px 50px 50px 30px;
        max-width: 47em;
    }

    .row {
        flex-direction: row;
        align-content: space-evenly;
        column-gap: 20px;
        padding: 10px;
    }

    .column {
        flex: 1 1 auto;
        align-content: auto;
    }

    .centered-project-box {
        display: flex;
        flex-direction: column;
        text-align: center;

        inline-size: 33%;

        flex: auto;
        align-self: center;
    }

    .log-list {
        padding: 0px 10px 10px 30px;
    }
}