#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

li {
    list-style: none;
}

h5 {
    font-size: 15px;
}

h3 {
   font-size: 25px;
}

h2 {
    color:seagreen;
}

.sidebar {
    margin-left: auto;
    padding: 50px;

    outline: solid;
    outline-color: red;
}

.log {
    padding: 50px;
    white-space: pre-wrap;

    outline: solid;
    outline-color: pink;
}

.header {
    padding: 50px;

    outline: solid;
    outline-color: brown;
}

.container {
    display: flex;
    flex-direction: column;
    font-size: 15px;

    outline: solid;
    outline-color: rgb(65, 151, 123);
    min-width:  800px;

}

.logs {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    padding: 20px;

    outline: solid;
    outline-color: blue;
}

.footer {
    flex-shrink: 0;
    margin-top: auto;
    padding-top: 50px;
    padding-bottom: 50px;

    padding: 50px;
    outline:solid;
    outline-color:cadetblue;
}

.content {
    display: flex;
    flex-direction: row;
}