#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

li {
    list-style: none;
}

h5 {
    font-size: 15px;
}

h3 {
   font-size: 25px;
}

h2 {
    color:seagreen;
}

.sidebar {
    margin-left: auto;
    padding: 50px;

    /* outline: solid;
    outline-color: red; */
}

.log {
    padding: 50px;
    white-space: pre-wrap;

    /* outline: solid;
    outline-color: pink; */
}

.devheader {
    padding: 50px;

    /* outline: solid;
    outline-color: brown; */
}

.devbody {
    display: flex;
    flex-direction: column;
    font-size: 15px;

    /* outline: solid;
    outline-color: rgb(65, 151, 123); */
    min-width:  800px;

}

.devlogs {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    /* padding:10px; */

    /* outline: solid;
    outline-color: blue; */
}

.post {
    padding: 20px;
}

.devfooter {
    flex-shrink: 0;
    margin-top: auto;
    padding: 50px;
    /* outline:solid;
    outline-color:cadetblue; */
}


.projectbody {
    display: flex;
    flex-direction: row;
    padding-right:20px;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    padding: 20px;
}

.column {
    display: flex;
    flex-direction:column;
}

.content {
    display: flex;
    flex-direction: row;
}

.project {
    padding:10px;
}