
p {
    color: purple
}

.devbody {
    display:flex;
    flex-direction: column;
    outline: solid;
    outline-color: rgb(65, 151, 123);
    font-size: 20px;
}

.devlogs {
    display: flex;
    flex-direction: row;
    outline: solid;
    outline-color: blue;
}

.sidebar {
    outline: solid;
    outline-color: red;
    padding: 50px;
}

.post {
    outline: solid;
    outline-color: pink;
    padding: 50px;
}

.devheader {
    outline: solid;
    outline-color: brown;
    padding: 50px;
}

.devfooter {
    outline:solid;
    outline-color:cadetblue;
    padding: 50px;
}

li {
    list-style: none;
}